.container-searchComponent{
    display: flex;
    justify-content: center;
}

.content-searchComponent{
    display: flex;
    flex-direction: column;
}

.input-searchComponent{
    width: 700px;
    height: 60px;
    border-radius: 10px;
    border-color: #C8C8C8;
}

input{
    width: 203px;
    height: 21px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding-left: 20px;
}

.li-searchComponent{
    list-style-type: none;
    margin-top: 15px;
    cursor: pointer;
}

